body{
    background-color: rgb(226, 238, 224);
}

#issue h1{
    font-size: 2rem;
}

#issue h2{
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}


#issue .issue__des{
    width: 50%;
    border-radius: 20px;
    border-top: 10px solid green;
    border-bottom: 10px solid green;
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#issue .issue__des h3{
    font-size: 2rem;
    font-weight: 600;
}

#issue .issue__des p{
    font-size: 1.5rem;
    font-weight: 500;
    word-break: break-all;
    letter-spacing: 1px;
}

#issue .issue__des label{
    display: block;
    font-size: 2rem;
    font-weight: 500px;
}

#issue .issue__des textarea{
    resize: none;
    border-radius: 5px;
}


#issue button{
    font-size: 14px;
    color: #fff;
    background: #ff0e83;
    font-size: 20px;
    padding: 10px 50px;
}