.calendar-right-align
{
  position: absolute;
  right: 0;
}

.import-export-layout
{
  display: grid;
  grid-row-gap: 1vh; 
  grid-template-rows: auto;
  grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
  grid-template-areas: 
    "template-btn template-btn template-btn . import-btn import-btn import-btn"
    ". scrolling-div scrolling-div scrolling-div scrolling-div scrolling-div . "
    ". scrolling-div scrolling-div scrolling-div scrolling-div scrolling-div next-btn";
}

.import-export-layout button 
{
  font-size: 2vmin;
}

.import-export-layout p 
{
  font-size: 2vmin;
}

.scrolling-div
{
  overflow: auto;
  height: 80vh;
}

.top-logo-img
{
  height: 10vmin;
}

.top-page-nav 
{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 10%;
  grid-template-rows: auto;
  grid-column-gap: 1%;
  grid-template-areas:
    "logo main-nav-items username";
}

.wrapper 
{
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas:
    "side-bar main-content";
  font-size: 2vmin;
}

.wrapper li
{
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}