<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ToDoList</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />

    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="card">
      <div class="card__body">
        <div id="app" class="card__content">
          <div class="card__title">
            <h1>ToDo List</h1>
          </div>
          <div class="card__add" v-if="!isEditing">
            <input v-model="todo" placeholder="Enter Cost Type">
            <button @click="storeTodo">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card__add" v-else>
            <input type="text" v-model="todo">
            <button class="btn btn-primary" value="update" @click="updateTodo">
              <i class="fas fa-check-double"></i>
            </button>
          </div>
          <div class="card__todo">
            <ul class="todo" id="todo">
              <li v-for="(todo,index) in todos">
                <span>{{ todo }}</span>
                <div class="buttons">
                  <button @click="deleteToDo(index, todo)" class="remove">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  <button @click="editToDo(todo, index)" class="complete">
                    <i class="far fa-edit"></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    

    <script>
      $(function () {
        $(".toggle-btn").click(function () {
          $(".filter-btn").toggleClass("open");
        });

        $(".filter-btn a").click(function () {
          $(".filter-btn").removeClass("open");
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
  </body>
</html>
