<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>

        <div id="full_page">

            <div v-if="StateObject('username')">
                <page-navbar
                    :buildings_data="buildings_data"
                    grid_area_surfix="main-nav-item"
                >
                </page-navbar>

                <main-nav-items
                    class="container-fluid"
                    v-if="!StateObject('building_id') && StateObject('controller')!='user'"
                    :buildings_data="buildings_data"
                    default_icon="building"
                    grid_area_surfix="home-page"
                >
                </main-nav-items>

                <edit form_title="Edit My Information" :object_id="StateObject('user_id')" v-if="StateObject('controller')=='user'"></edit>

                <page-wrapper v-if="StateObject('building_id')"></page-wrapper>
            </div>

            <page-administration v-if="!StateObject('username')"></page-administration>

            <!-- able to do both vietnamese and english -->
        </div>

        <footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

            <script type="text/javascript" lang="javascript"src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

            <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://unpkg.com/vuex@3.1.3/dist/vuex.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vuejs-datepicker/1.6.2/vuejs-datepicker.min.js"></script>

            <script src="js/full_page/support_mixins.js"></script>

            <script async src="js/full_page/page-navbar.js"></script>

            <script async src="js/full_page/page-wrapper/sidebar.js"></script>


            <script async src="js/full_page/page-wrapper/main_content/support_components/scrolling_table/a_sort_table.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/scrolling_table/a_hyperlink.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/scrolling_table.js"></script>
            
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input/select_checkbox_input.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input/text_input.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input/number_input.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input/date_input.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input/row_group.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/support_components/user_input.js"></script>

            <script async src="js/full_page/page-wrapper/main_content/overview.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/import_export.js"></script>
            <script async src="js/full_page/page-wrapper/main_content/add_edit.js"></script>

            <script src="js/full_page.js"></script>

            <script async src="js/setup.js"></script>



        </footer>
    </body>
</html>