<!DOCTYPE html>
<html>
    <head>
        <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
        <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-good-table@2.21.1/dist/vue-good-table.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="container-fluid text-right">
            <a lang="vi" href="vn" title="Tiếng Việt"><img src="https://www.countryflags.io/VN/shiny/32.png"></a>
        </div>

        <div id="full_page">

            <div v-if="StateObject('username')">
                <page-navbar :buildings_data="StateObject('buildings_data')" grid_area_surfix="main-nav-item"></page-navbar>
                <router-view></router-view>
            </div>
            <page-administration v-if="!StateObject('username')"></page-administration>
        </div>

        <footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

            <script type="text/javascript" lang="javascript"src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>

            
            <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://unpkg.com/vuex@3.1.3/dist/vuex.js"></script>
            <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vuejs-datepicker/1.6.2/vuejs-datepicker.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-functional-calendar/2.8.87/FunctionalCalendar.umd.min.js"></script>
            <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
            <script src="https://unpkg.com/vuesax"></script>
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
            <script async src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
            <script src="https://unpkg.com/vue-upload-component"></script>

            <script src="npm/vue-fragment@latest.js"></script>
            <script src="npm/vue-good-table@latest.JS"></script>
            
            <script src="js/mixins/support.js"></script>
            <script src="js/mixins/user_input_components.js"></script>
            <script src="js/mixins/add_edit.js"></script>
            <script src="js/mixins/utilities.js"></script>
            <script src="js/mixins/invoices.js"></script>

            <script async src="js/full_page/main-nav-items.js"></script>
            <script async src="js/full_page/page_administration.js"></script>
            
            <script async src="js/full_page/dashboard/problem_leaseagrms.js"></script>
            <script async src="js/full_page/dashboard/buildings.js"></script>
            <script async src="js/full_page/dashboard/backup_restore_data.js"></script>
            <script async src="js/full_page/dashboard.js"></script>

            <script async src="js/full_page/page-wrapper/support_components/scrolling_table.js"></script>
            
            <script async src="js/full_page/page-wrapper/support_components/user_input/select_checkbox_input.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/text_input.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/number_input.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/date_input.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/submit_button.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/component_group.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input/row_group.js"></script>
            <script async src="js/full_page/page-wrapper/support_components/user_input.js"></script>

            <script async src="js/full_page/page-wrapper/overview.js"></script>
            <script async src="js/full_page/page-wrapper/import_export.js"></script>
            <script async src="js/full_page/page-wrapper/add_edit.js"></script>

            <script async src="js/full_page/page-wrapper/invoices/user_input_invoice/leaseagrm.js"></script>
            <script async src="js/full_page/page-wrapper/invoices/user_input_invoice/utilities.js"></script>
            <script async src="js/full_page/page-wrapper/invoices/user_input_invoice.js"></script>
            <script async src="js/full_page/page-wrapper/invoices/add_invoice.js"></script>
            <script async src="js/full_page/page-wrapper/invoices/edit_invoice.js"></script>
            <script async src="js/full_page/page-wrapper/invoices/add-monthly-invoices.js"></script>

            <script async src="js/full_page/page-wrapper/utilities/general_utilities.js"></script>
            <script async src="js/full_page/page-wrapper/utilities/overview_units.js"></script>
            <script async src="js/full_page/page-wrapper/utilities/utility_reading.js"></script>

            <script src="js/full_page.js"></script>

            <script async src="js/setup.js"></script>

        </footer>
    </body>
</html>