table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}


.scrolling-div
{
  overflow: auto;
  height: 80vh;
  background-color: blueviolet;
}


.scrolling-div thead th
{
  top: 0;
  background-color: red;
  position: sticky;
  color: white;
}


.wrapper 
{
  background-color: aquamarine; 
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas:
    "side-bar main-content";
  font-size: 2vmin;
}

.wrapper li
{
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.separate-row
{
  height: 10vh;
  background-color: brown;
}

