.dropdown-ul li a
{
    font-size: 2vmin;
}
.file-upload-input
{
    z-index: -1;
    opacity: 0;
    position: absolute;
}

.file-upload-label
{
    cursor: pointer;
}

.icon-same-line-word
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.scrolling-table-div
{
    max-height: 75vh;
}